[Desktop Entry]
Name=Cosmic Task Monitor
Comment=Monitor running applications and system performance
Type=Application
Icon=com.github.exepta.cosmic-task-monitor
Exec=cosmic-task-monitor %F
Terminal=false
StartupNotify=true
StartupWMClass=com.github.exepta.cosmic-task-monitor
Categories=System;Monitor;Utility;COSMIC;
Keywords=System;Monitor;Performance;Task;COSMIC;
